.container {
  max-width: 810px;
  margin: 0 auto;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}


#image {
  display: block;
  margin: 20px auto;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

body {
  background-color: hsl(30, 18%, 87%);
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  max-width: 1440px;
}


#prep {
  background-color: hsl(327, 52%, 96%);
  border-radius: 10px;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  }

.nutrition-table { 
  width: 100%;
  table {
  border: none;
  line-height: 1.4;
}
td, th {
  border: none;
}
tr + tr td {
  border-top: 1px solid #ddd;
}
  }


#main_heading {
    font-family: 'YoungSerif', serif;
    color: hsl(24, 5%, 18%);
     }

  .sub_heading {
    color: hsl(14, 45%, 36%);
    font-family: 'YoungSerif', serif;
     }



     .prep_text {
      font-family: 'YoungSerif', serif;
      color:hsl(332, 51%, 32%);
     }


     .main-heading {
      line-height: 1.6;
     }


    .instructions {
    line-height: 1.6;
}